@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Manrope", sans-serif;
    background-color: #111111;
    color: white;
    overflow-x: hidden;
    scrollbar-gutter: stable;
  }
}
